{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Project
{% endblock title %}

{% block content %}
  <div class="card padding">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="row">
      <div class="form-group col s6">
        {{ form.name | as_crispy_field }}
      </div>
      <div class="form-group col s6">
        {{ form.tech_used | as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col s6">
        {{ form.started_date | as_crispy_field }}
      </div>
      <div class="form-group col s6">
        {{ form.end_date | as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col s12">
        {{ form.description | as_crispy_field }}
      </div>
      </div>
      <input type="submit" class = "b-btn"  value="ADD">
    </form>
  </div>
{% endblock content %}